$ovo: 'Ovo', serif;
$muli: 'Muli', sans-serif;

// mixins
@mixin flexit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-justify {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@mixin flex-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}