// base styles for html, body, etc. universals
html, body {
	margin: 0;
	padding: 0;
	font-family: $open;
}

.wrap {
	width: 90%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}