// more specific page and section styles
#main-content {
	background: $offwhite;

	// intro styles
	.intro {
		padding: 60px 0 100px;
		text-align: center;
		color: $lighter-grey;

		h1 {
			font-weight: 300;
			letter-spacing: -1.75px;
			margin: 35px 0 75px;
		}

		.button {
			background: $blue;
			color: white;
			padding: 25px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			font-weight: 600;
			@include transition;
		}
		.button:hover {
			background: lighten($blue, 10%);
		}
	}

	// styles for hot dog listings
	.dog-section {
		background: white;
		color: $lighter-grey;

		h2 {
			letter-spacing: -1px;
			margin-bottom: 40px;
		}

		p {
			font-weight: 300;
		}

		img {
			display: block;
		}

	}

	// row specific styles
	.row {

		.wrap {
			width: 80%;
			margin: 0 auto;
			padding: 50px 0;
		}

	}

	// switch vegan photo and description for flow
	.row.vegan {
		@include flexit;
		@include flex-reverse;
		@include flex-col;
	}

}

// desktop styles
@media only screen and (min-width: 768px) {

	#main-content {

		.intro {
			padding: 100px 0 150px;
			max-width: 840px;
			margin: 0 auto;

			h1 {
				font-size: 3.25em;
			}

			.button {
				font-size: 1.2em;
			}

		}

		// dog section styles
		p {
			font-size: 1.125em;
		}

	}

	// row specific styles
	#main-content .row {
		@include flexit;
		@include flex-center;

		.wrap, .pic {
			width: 50%; // equal columns
		}

		h2, p {
			padding: 0 10%;
		}
	}

	#main-content .row.vegan {
		@include flex-row;
	}
	
}