// font vars
$open: 'Open Sans', serif;

// colors
$grey: #2e2e2e;
$lighter-grey: #555559;
$light: #efefef;
$offwhite: #fbfafa;
$blue: #286782;

// mixins

// mixins for flex
@mixin flexit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-justify {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@mixin flex-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@mixin flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

// mixin for smooth transitions
@mixin transition {
    -webkit-transition: all .3s ease, opacity .3s ease;
    -moz-transition: all .3s ease, opacity .3s ease;
    -o-transition: all .3s ease, opacity .3s ease;
    transition: all .3s ease, opacity .3s ease;
}