html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif; }

.wrap {
  width: 90%;
  margin: 0 auto; }

a {
  text-decoration: none;
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.25em; }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.25em; }

  h2 {
    font-size: 1.5em; } }
#main-content {
  background: #fbfafa; }
  #main-content .intro {
    padding: 60px 0 100px;
    text-align: center;
    color: #555559; }
    #main-content .intro h1 {
      font-weight: 300;
      letter-spacing: -1.75px;
      margin: 35px 0 75px; }
    #main-content .intro .button {
      background: #286782;
      color: white;
      padding: 25px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      font-weight: 600;
      -webkit-transition: all .3s ease, opacity .3s ease;
      -moz-transition: all .3s ease, opacity .3s ease;
      -o-transition: all .3s ease, opacity .3s ease;
      transition: all .3s ease, opacity .3s ease; }
    #main-content .intro .button:hover {
      background: #3486a9; }
  #main-content .dog-section {
    background: white;
    color: #555559; }
    #main-content .dog-section .row .wrap {
      width: 80%;
      margin: 0 auto;
      padding: 50px 0;
      position: relative; }
    #main-content .dog-section .wrap:before {
      content: "\2014";
      font-weight: bold;
      color: #286782;
      left: 0;
      top: 60px;
      position: absolute;
      font-size: 25px; }
    #main-content .dog-section h2 {
      letter-spacing: -1px;
      margin-bottom: 40px;
      margin-left: 50px; }
    #main-content .dog-section p {
      font-weight: 300;
      margin-left: 50px;
      letter-spacing: -0.75px; }
    #main-content .dog-section img {
      display: block; }
  #main-content .row.vegan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }

@media only screen and (min-width: 768px) {
  #main-content .intro {
    padding: 100px 0 150px;
    max-width: 840px;
    margin: 0 auto; }
    #main-content .intro h1 {
      font-size: 3.25em; }
    #main-content .intro .button {
      font-size: 1.2em; }
  #main-content .dog-section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #main-content .dog-section .row .wrap:before {
      left: 10%;
      top: 67px; }
    #main-content .dog-section .row .wrap, #main-content .dog-section .row .pic {
      width: 50%; }
    #main-content .dog-section .row h2, #main-content .dog-section .row p {
      padding: 0 17%;
      margin-left: 0; }
  #main-content .dog-section p {
    font-size: 1.125em; }

  #main-content .row.vegan {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }

  .no-flexbox #main-content .dog-section .row {
    display: block; }
  .no-flexbox #main-content .dog-section .wrap, .no-flexbox #main-content .dog-section .pic {
    width: 100%; } }
header {
  text-align: center; }
  header #banner {
    background: url("../img/photo-grid.jpg") no-repeat top right;
    background-size: cover;
    height: 65vh; }
  header .hashtag {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: .9em; }
  header nav ul {
    position: relative;
    z-index: 10;
    padding: 25px 0;
    margin: 0;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.11); }
  header nav li {
    display: block;
    padding: 0 2%;
    margin-bottom: 10px; }
    header nav li a {
      font-weight: 600;
      color: #2e2e2e;
      text-transform: uppercase;
      letter-spacing: .75px;
      -webkit-transition: all .3s ease, opacity .3s ease;
      -moz-transition: all .3s ease, opacity .3s ease;
      -o-transition: all .3s ease, opacity .3s ease;
      transition: all .3s ease, opacity .3s ease; }
    header nav li a:hover {
      color: #6e6e6e; }

@media only screen and (min-width: 768px) {
  header nav ul {
    padding: 35px 0; }
  header nav li {
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 0; }
    header nav li a {
      font-size: 1.2em; } }
footer {
  background: #efefef;
  padding: 30px 20px;
  font-size: .875em;
  position: relative;
  z-index: 5; }
  footer .copyright {
    margin-bottom: 10px; }

@media only screen and (min-width: 768px) {
  footer .copyright {
    float: left; }
  footer .footer-contact {
    text-align: right; } }

/*# sourceMappingURL=main.css.map */
